.landingPageContainer {
    height: 100vh;
    width: 100vw;
    color: rgb(10, 11, 11);
    background-image: url('./utils/images/Sentra_bg.png');;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
} 
.landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.landingPageContainer nav h2 {
    font-size: 1.8rem;
    font-weight: 500;
}